html {
    font-family: 'Work Sans', serif;
    color: black;
    background: white;
}

h1 {
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 62px;
    font-weight: 600;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
}

h2 {
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
}

.titleIndexContainer {
    margin: 50px;
}

.horizontalIndexLine {
    background: #1a3aff;
    height: 2px;
    margin: auto;
    width: 55%;
}

.header {
    padding-bottom: 24px;
}

.headerMenu {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(.44643vw + 12.57143px);
}

.headerMenu li {
    margin: 0 calc(1.42857vw + 3.42857px);
    position: relative;
}

a:hover {
    color: #1a3aff;
}

a {
    text-decoration: none;
}

body a {
    color: inherit;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.headerMenu .icon, .headerMenu a {
    display: flex;
    align-items: center;
    margin: 0 0 0 0;
    position: relative;
}

.headerMenu .icon {
    margin-right: 5px;
}

.indexContentsContainer {
    width: 75%;
    margin: 24px auto auto;
    text-align: center;
}

.indexContentsContainer img{
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.indexSectionContainer {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 24px auto auto;
}

.sectionElement h1 {
    margin-bottom: 0;
}

.sectionElement {
    display: flex;
    flex-direction: column;
    width: calc(33.3% - 30px);
    align-items: flex-start;
    margin-right: 30px;
}

p {
    line-height: 1.3;
}